{
  "app_name": "go-api-server-stater",
  "app_env": "local",
  "app_key": "base64:S36222GXHKWgpLVVZyFgoJIEfU4w8XF4uB/4oRUxt6s=",
  "app_debug": "true",
  "app_url": "http://192.168.21.90",
  "app_port": ":9001",

  "db_connect_string": "postgres://USERNAME:PASSWORD@DB_IP/DB?sslmode=disable"
}